<!DOCTYPE html>
<html lang="en">
  {{!head}}
  <body>
    <div class="content">
      {{!header}} {{!navigation}}
      <div class="experiences">
        <h3>Professional experiences</h3>
        <h4>
          March 2020 - Ongoing : Freelance Director / Editor / Motion Designer /
          VFX / Colorist
        </h4>
        <div>Advertisement, Documentary, Corporate, Clip, Fiction, TV</div>
        <h4>
          March 2016 – March 2020 : Fake company – Audiovisual Production,
          Editor / Motion Designer
        </h4>
        <div>
          Documentary, Report, Corporate, Advertisement, Clip, Aftermovies, TV
        </div>
        <h4>
          November 2015 : Freelance – Audiovisual Production, Editor / Cameraman
        </h4>
        <div>Clip and corporate</div>
      </div>
      <div class="third">
        <h3>Softwares</h3>
        <div>
          Adobe After Effects, Adobe Premiere Pro, Adobe Photoshop, Adobe
          Illustrator, Final Cut Pro, AVID Media Composer, DaVinci Resolve,
          Cinema4D
        </div>
      </div>
      <div class="third">
        <h3>Languages</h3>
        <div>
          <ul>
            <li>English</li>
            <li>Spanish</li>
          </ul>
        </div>
      </div>
      <div class="third">
        <h3>Hobbies</h3>
        <div>
          <ul>
            <li>Photography</li>
            <li>Music</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
