<head>
  <meta charset="utf-8" />
  <title>John Doe - Projects</title>
  <meta
    name="description"
    content="Video project of John Doe: directing, editing, vfx and calibrating."
  />
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="John Doe - Projects" />
  <meta
    itemprop="description"
    content="Video project of John Doe: directing, editing, vfx and calibrating."
  />

  <meta name="author" content="John Doe" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="assets/css/piddly.css" />
  <link rel="stylesheet" href="assets/css/style.css" />
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📽</text></svg>"
  />
</head>
